@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Hanken Grotesk", sans-serif;
  --font-body: "Source Sans 3", sans-serif;

  --color-brand-black: #000000;
  --color-brand-white: #ffffff;
  --color-brand-red: #bc0100;
  --color-brand-surface: #f9f9f9;
  --color-brand-on-surface: #1a1c1c;
  --color-brand-on-surface-variant: #4c4546;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--color-brand-surface);
  color: var(--color-brand-on-surface);
}

h1, h2, h3, h4, .font-display {
  font-family: var(--font-display);
}
